.chexbox-description {
  height: 20px;
  line-height: 20px;
  display: block;
  padding: 0;
  margin: 0;
}

.search-contaiter {
  i {
    cursor: pointer
  }
  color: #757575;
  font-size: 16px;
  height: 74px;
  line-height: 74px;
  vertical-align: middle;
  input {
    border: none;
    &:focus {
      border: none;
      outline: 0;
    }
  }
  .input-list {
    padding-right: 12px;
    &:focus {
      outline: 0;
    }
  }
}